@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card">
    <div class="card body">
        <h1 class="card-title"> Ops, parece que ocorreu um erro</h1>
        <img style="width:100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Man_Driving_Car_Cartoon_Vector.svg/2000px-Man_Driving_Car_Cartoon_Vector.svg.png" alt="errou" />

        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ver detalhes do erro
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body ">
                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }

                    <h3>Para depuração</h3>
                    <p>
                        @Model.Mensagem
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>