<style>
    #content-main {
        margin-left: 20%;
    }
</style>

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - SGI-GGI - <a asp-area="" asp-controller="Home"
                asp-action="Privacy">Privacidade</a>
        </div>
</footer>