@model BaseDeProjetos.Models.FollowUp
@{
    ViewData["Title"] = "Atualizar Prospecção";
}

<h1>Criar</h1>

<h4>Prospecção</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Atualizar">
            <div class="form-group">
                <label asp-for="OrigemID" class="control-label"></label>
                <select asp-for="OrigemID" class="form-control" asp-items="@ViewData["Empresas"] as SelectList"></select>
                <span asp-validation-for="OrigemID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusProspeccao>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
