@model ProspeccoesViewModel
@using System
@using BaseDeProjetos.Helpers
@using BaseDeProjetos.Models.Enums
@using BaseDeProjetos.Models.ViewModels
<script type="text/javascript" src="~/js/FunildeVendas/graficosDashboardFunil.js"></script>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border: 3px solid;
    }
</style>

@if (Model.ProspeccoesGrafico.Count() > 1)
{
    <div class="pb-4">
        <div class="app-card app-card-chart shadow-sm h-100">
            <div class="app-card-header p-3">
                <h4 class="app-card-title">Funil de Vendas</h4>
            </div>
            <div class="app-card-body p-4">
                <figure class="highcharts-figure">
                    <div id="funil"></div>
                </figure>
            </div>
            <div class="p-4">
                <input class="form-check-input" type="checkbox" id="caixaSelecaoAtivas" onclick="marcada()">
                <label class="form-check-label" for="botao_ativas">Mostrar apenas as ativas</label>
            </div>
        </div>
    </div>

    <div class="pb-4">
        <div class="d-flex gap-4 justify-content-between align-items-start shadow-sm">
            <div class="app-card app-card-chart w-50 h-100">
                <div class="app-card-header p-3">
                    <h4 class="app-card-title">Indicadores de Prospecção</h4>
                </div>
                <div class="app-card-body row text-center p-3 p-lg-4">
                    <div class="col-12">
                        <!--[Iury] sIDs da checkbox \/ -->
                        <h1 id="EmpresasProspectadas" class="display-3"></h1>
                        <small id="CheckboxProspAtivas2">Número de empresas prospectadas</small>
                        <hr />
                    </div>
                    <div class="col-4">
                        <h4 id="TempoMedioContato"></h4>
                        <small id="CheckboxProspAtivas10">Tempo médio entre o primeiro contato e a emissão da
                            proposta</small>
                    </div>
                    <div class="col-4">
                        <!--[Iury] IDs da checkbox \/ -->
                        <h4 id="ProspContatoInicial"></h4>
                        <small id="CheckboxProspAtivas3">Contatos iniciais de prospecção</small>
                    </div>
                    <div class="col-4">
                        <h4 id="PercentualInfrutiferas"></h4>
                        <small>
                            Percentual de prospecções infrutíferas
                        </small>
                    </div>
                </div>
            </div>

            <div class="app-card app-card-chart w-50 h-100">
                <div class="app-card-header p-3">
                    <h4 class="app-card-title">Status Geral das Prospecções</h4>
                </div>
                <div class="app-card-body text-center p-3 p-lg-4">
                    <figure class="highcharts-figure">
                        <div id="pizza_desistencia"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex gap-4 justify-content-between align-items-start shadow-sm">
        <div class="app-card app-card-chart w-50 h-100">
            <div class="app-card-header p-3">
                <h4 class="app-card-title">Status de Prospecções com Proposta</h4>
            </div>
            <div class="app-card-body text-center p-3 p-lg-4">
                <figure class="highcharts-figure">
                    <div id="pizza_conversao"></div>
                </figure>
            </div>
        </div>

        <div class="app-card app-card-chart w-50 h-100">
            <div class="app-card-header p-3">
                <h4 class="app-card-title">Status de Prospecções com Proposta</h4>
            </div>
            <div class="app-card-body row text-center p-3 p-lg-4">
                <div class="col-12">
                    <h1 class="display-3" id="TaxaConversao"></h1>
                    <small>
                        Taxa de conversão de prospecções
                    </small>
                    <hr />
                </div>
                <div class="col-4">
                    <h4 id="TicketMedioProsp"></h4>
                    <small id="CheckboxProspAtivas8">
                        Ticket médio das prospecções
                    </small>
                </div>
                <div class="col-4">
                    <h4 id="PropostasEnviadas"></h4>
                    <small id="CheckboxProspAtivas9">
                        Propostas comerciais enviadas
                    </small>
                </div>
                <div class="col-4">
                    <h4 id="ProjetosContratados"></h4>
                    <small>
                        Projetos contratados
                    </small>
                </div>
            </div>
        </div>


    </div>

}
else
{
    <h3> Ainda não existem dados cadastrados. Esta aba aparecerá quando você tiver mais dados cadastrados.</h3>
}