@model BaseDeProjetos.Models.Producao

@{
    SelectList ListProjetos = ViewData["Projetos"] as SelectList;
    SelectList ListEmpresas = ViewData["Empresas"] as SelectList;
    ViewData["Title"] = "Editar";
    var idProducao = Model.Id;
}

<form asp-action="Edit" asp-route-id="@idProducao">
    <div class="modal fade" id="modalGestaoConhecimento-@idProducao-EditToggle" aria-hidden="true"
        aria-labelledby="modalGestaoConhecimento-@idProducao-EditToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalGestaoConhecimento-@idProducao-EditToggleLabel">
                        Editar Produção
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Grupo" class="control-label"></label>
                            <select asp-for="Grupo" class="form-control"
                                asp-items="Html.GetEnumSelectList<GrupoProducao>().OrderBy(p=>p.Text)"></select>
                            <span asp-validation-for="Grupo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Casa" class="control-label"></label>
                            <select asp-for="Casa" class="form-control"
                                asp-items="Html.GetEnumSelectList<Instituto>()"></select>
                            <span asp-validation-for="Casa" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Autores" class="control-label"></label>
                            <input asp-for="Autores" class="form-control" />
                            <span asp-validation-for="Autores" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StatusPub" class="control-label"></label>
                            <select asp-for="StatusPub" class="form-control" onchange="statusPatente()"
                                asp-items="Html.GetEnumSelectList<StatusPub>()"></select>
                            <span asp-validation-for="Grupo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Data" class="control-label"></label>
                            <input type="date" asp-for="Data" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Local" class="control-label"></label>
                            <input asp-for="Local" class="form-control" />
                            <span asp-validation-for="Local" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DOI" class="control-label"></label>
                            <input asp-for="DOI" class="form-control" />
                            <span asp-validation-for="DOI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Imagem" class="control-label"></label>
                            <input type="file" class="form-control" id="logo_imagem-@Model.Id" onchange="Base64('-@Model.Id')" />
                            <input asp-for="Imagem" id="img_b64-@Model.Id" class="control-label" style="display: none;" value=""
                                onchange="MostrarImagem('-@Model.Id')" readonly>
                            <span asp-validation-for="Imagem" class="text-danger"></span>
                        </div>
                        <img id="img_preview-@Model.Id" src="" width="300" style="margin-top:5px;">
                        @if (Model.Projeto != null)
                        {
                            <div id='campos-patente'>
                                <hr>
                                <div class="form-group">
                                    <label asp-for="Projeto" class="control-label"></label>
                                    <select asp-for="Projeto" class="form-control" asp-items='@ListProjetos'>
                                        <option value="-1">Selecione o projeto</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Empresa" class="control-label"></label>
                                    <select asp-for="Empresa" class="form-control" asp-items='@ListEmpresas'>
                                        <option value="-1">Selecione a empresa</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Responsavel" class="control-label"></label>
                                    <input asp-for="Responsavel" class="form-control" value="" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="NumPatente" class="control-label"></label>
                                    <input asp-for="NumPatente" class="form-control" value="" />
                                </div>

                            </div>
                        }
                        <div class="modal-footer">
                            <a asp-action="Index" class="btn app-btn-secondary">Voltar para Lista</a>
                            <input type="submit" value="Salvar" class="btn app-btn-primary"
                                data-bs-target="#modalGestaoConhecimento-@idProducao-EditToggle" data-bs-toggle="modal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
