@model IEnumerable<BaseDeProjetos.Models.CodigoAmostraProjeto>

@{
    ViewData["Title"] = "Index";
}

<h1>Códigos de Amostra</h1>

<a style="margin-left:90%" class="btn app-btn-primary" asp-action="Create">Adicionar</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Projeto</th>
            <th>Código do Projeto</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
