@model BaseDeProjetos.Models.AtividadesProdutivas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AtividadesProdutivas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Atividade" class="control-label"></label>
                    <select asp-for="Atividade" class="form-control" asp-items="Html.GetEnumSelectList<Atividades>()"></select>
                <span asp-validation-for="Atividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaAtividade" class="control-label"></label>
                <select asp-for="AreaAtividade" class="form-control" asp-items="Html.GetEnumSelectList<AreasAtividades>()"></select>
                <span asp-validation-for="AreaAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FonteFomento" class="control-label"></label>
                <select asp-for="FonteFomento" class="form-control" asp-items="Html.GetEnumSelectList<TipoContratacao>()"></select>
                <span asp-validation-for="FonteFomento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <input asp-for="ProjetoId" class="form-control" />
                <span asp-validation-for="ProjetoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAtividade" class="control-label"></label>
                <input asp-for="DescricaoAtividade" class="form-control" />
                <span asp-validation-for="DescricaoAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargaHoraria" class="control-label"></label>
                <input asp-for="CargaHoraria" class="form-control" placeholder="Insira o horário em incrementos de 15 minutos" />
                <span asp-validation-for="CargaHoraria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
