@page
@model BaseDeProjetos.Views.Home.LogoutHomeModel
@{
}
<div class="container">
    <div class="row">
        <div class="card col-md-9">
            <div class="card-body">
                <h5 class="card-title text-center">Bem vindo ao sistema de Gestão de Inovação - SGI</h5>
                <hr />
                <center>
                    <img class="card-img text-center" style="width:20%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Artemis_%28PSF%29.svg/587px-Artemis_%28PSF%29.svg.png" alt="" />
                </center>
                <hr />
                <div class="card-text"> O SGI é uma plataforma unificada para gestão de dados referentes às equipes dos Insitituto SENAI de Inovação em Química Verde(ISI-QV) e Inspeção e Integridade(ISI-II), assim como do Centro de Inovação SESI em Higiene Ocupacional (CIS-HO)</div>
            </div>
        </div>

        <div class="card col-md-3">
            <div class="card-body">
                <h6 class="card-title text-center">Notas da versão</h6>
                <hr>
                    <h6> Versão 0.2.01 - 05/02/2021</h6>
                <ul style="font-size:small">
                    <li class="card-text"> Acertado problema da inclusão de membros da equipe de projetos</li>
                    <li class="card-text"> Implementado funcionalidade de gerenciamento de entregas de projeto</li>
                    <li class="card-text"> Acertado estouro de layout da lista de projetos</li>
                    <li class="card-text"> Aumento da cobetura de testes automáticos</li>
</ul>
                <hr>

                <hr>
                    <h6> Versão 0.1.31 - 06/01/2021</h6>
                    <small class="card-text"> Ajuste de versão para inclusão de dados em 2021</small>
                <hr>
            </div>
            </div>
    </div>
</div>

