@page
@model BaseDeProjetos.Views.Home.LogoutHomeModel
@{
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Bem vindo ao sistema de Gestão de Inovação - SGI</h5>
        <hr />
        <center>
            <img class="card-img text-center" style="width:20%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Artemis_%28PSF%29.svg/587px-Artemis_%28PSF%29.svg.png" alt="" />
        </center>
        <hr />
        <div class="card-text"> O SGI é uma plataforma unificada para gestão de dados referentes às equipes dos Insitituto SENAI de Inovação em Química Verde(ISI-QV) e Inspeção e Integridade(ISI-II), assim como do Centro de Inovação SESI em Higiene Ocupacional (CIS-HO)</div>
    </div>
</div>

