@page
@model BaseDeProjetos.Views.Home.MenuModel
@{
}
<div class="col-md-2">
    <div class="row">
        <button class="col-12 card" data-toggle="collapse" data-target="#collapse_ISIQV" aria-expanded="true" aria-controls="collapse_ISIQV">
            <div class="card-body">
                <h5 class="text-center card-text text-info">ISI-QV</h5>
            </div>
        </button>
        <div class="col-12 collapse" id="collapse_ISIQV">
            <ul class="list-group-flush">
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="ISIQV">
                        Funil de Vendas
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="Projetos" asp-route-casa="ISIQV">
                        Base de Projetos
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="http://gestao-isi-qv.herokuapp.com/add_atividade#app-secondary">
                        Capacidade Produtiva
                    </a>
                </li>

                <li class="list-group-item disabled">
                    Gestão do conhecimento
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Satisfação do Cliente
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Segurança e Qualidade
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <button class="col-12 card " data-toggle="collapse" data-target="#collapse_ISIII" aria-expanded="true" aria-controls="collapse_ISIII">
            <div class="card-body">
                <h5 class="text-center card-title text-info">ISI-II</h5>
            </div>
        </button>
        <div class="col-12 collapse" id="collapse_ISIII">
            <ul class="list-group-flush">
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="ISIII">
                        Funil de Vendas
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="Projetos" asp-route-casa="ISIII">
                        Base de Projetos
                    </a>
                </li>
                <li class="list-group-item list-group-item-lightj">
                    <a href="http://gestao-isi-qv.herokuapp.com/add_atividade#app-secondary">
                        Capacidade Produtiva
                    </a>
                </li>

                <li class="list-group-item disabled">
                    Gestão do conhecimento
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Satisfação do Cliente
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Segurança e Qualidade
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <button class="col-12 card " data-toggle="collapse" data-target="#collapse_CISHO" aria-expanded="true" aria-controls="collapse_CISHO">
            <div class=" card-body">
                <h5 class="text-center text-info">CIS-HO</h5>
            </div>
        </button>
        <div class="col-12 collapse" id="collapse_CISHO">
            <ul class="list-group-flush">
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="CISHO">
                        Funil de Vendas
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="Projetos" asp-route-casa="CISHO">
                        Base de Projetos
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="http://gestao-isi-qv.herokuapp.com/add_atividade#app-secondary">
                        Capacidade Produtiva
                    </a>
                </li>

                <li class="list-group-item disabled">
                    Gestão do conhecimento
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Satisfação do Cliente
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
                <li class="list-group-item disabled">
                    Segurança e Qualidade
                    <span class="badge badge-warning badge-pill">!</span>
                </li>
            </ul>
        </div>
    </div>
</div>
