@model BaseDeProjetos.Models.Formulario.Formulario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TituloFormulario" class="control-label"></label>
                <input asp-for="TituloFormulario" class="form-control" />
                <span asp-validation-for="TituloFormulario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoFormulario" class="control-label"></label>
                <input asp-for="DescricaoFormulario" class="form-control" />
                <span asp-validation-for="DescricaoFormulario" class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>
            <div id="Perguntas">

            </div>
                <button type="button" class="btn app-btn-primary" onclick="CriarDivNovaPergunta()">Adicionar nova Questão</button>
            <div class="form-group">
                <label asp-for="Identificador" class="control-label"></label>
                <input asp-for="Identificador" class="form-control" />
                <span asp-validation-for="Identificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    
    let divPerguntas = document.getElementById('Perguntas')
    let indiceDivNovaPergunta = 0

    function CriarDivNovaPergunta() {

        let idNovaDiv = `Perguntas${indiceDivNovaPergunta}`
        let novaDiv = document.createElement('div')

        novaDiv.id = idNovaDiv

        let input = CriarInputPergunta()
        novaDiv.appendChild(input)

        let btnDelete = CriarBtnDelete(novaDiv)
        novaDiv.appendChild(btnDelete)

        let checkObrigatorio =  criarInputCheckBox(novaDiv)
        novaDiv.appendChild(checkObrigatorio)

        divPerguntas.appendChild(novaDiv);
        indiceDivNovaPergunta++;
    }

    function CriarInputPergunta() { 
        
        let pergunta = document.createElement('input')
        pergunta.type = 'text';
        pergunta.placeholder = 'Digite a pergunta';

        return pergunta
    }

    function CriarBtnDelete(novaDiv) {
        let btnDelete = document.createElement('button');
        btnDelete.textContent = 'Deletar Pergunta';
        btnDelete.onclick = function () {
            divPerguntas.removeChild(novaDiv);
        };
        return btnDelete
    }

    function criarInputCheckBox(novaDiv){
        let checkBox = document.createElement('input')
        checkBox.classList.add('form-check-input')
        checkBox.type = 'checkbox'

        let labelCheckObrigatorio = document.createElement('label')
        labelCheckObrigatorio.innerText = 'Obrigatório'

        return checkBox
    }

</script>