@model BaseDeProjetos.Models.ProjetoIndicadores
@using Microsoft.AspNetCore.Http
@using System.Globalization
@using BaseDeProjetos.Models

@{
    var nivelUsuario = ViewData["NivelUsuario"];
    var projeto = ViewData["Projeto"] as Projeto;
    ViewData["Title"] = "Edit";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}
<!-- Modal -->
<div class="modal fade" id="incluirIndicadorProjetoModal-@projeto.Id" aria-hidden="true"
     aria-labelledby="#incluirIndicadorProjetoModal-@projeto.Id-Label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="incluirIndicadorProjetoModal-@projeto.Id-Label2">
                    Adicionar checklists
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form-submit" asp-controller="Projetos" asp-action="Atualizar" method="POST">
                <div class="modal-body">
                   @{
                        var unique_id_indicadores = $"proj_ind_{Guid.NewGuid()}";
                    }
                    <input asp-for="Id" type="hidden" value='@unique_id_indicadores' />

                    <h5>Checklists:</h5>
                    <div class="form-check">
                        <input asp-for="Bolsista" class="form-check-input" type="checkbox" id="checkBolsista" />
                        <label asp-for="Bolsista" class="form-check-label" for="checkBolsista"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="ComprasMaterial" class="form-check-input" type="checkbox" id="checkComprasMaterial" />
                        <label asp-for="ComprasMaterial" class="form-check-label" for="checkComprasMaterial"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="ComprasServico" class="form-check-input" type="checkbox" id="checkComprasServico" />
                        <label asp-for="ComprasServico" class="form-check-label" for="checkComprasServico"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="PrestacaoContas" class="form-check-input" type="checkbox" id="checkPrestacaoContas" />
                        <label asp-for="PrestacaoContas" class="form-check-label" for="checkPrestacaoContas"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Regramento" class="form-check-input" type="checkbox" id="checkRegramento" />
                        <label asp-for="Regramento" class="form-check-label" for="checkRegramento"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Relatorios" class="form-check-input" type="checkbox" id="checkRelatorios" />
                        <label asp-for="Relatorios" class="form-check-label" for="checkRelatorios"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Repasse" class="form-check-input" type="checkbox" id="checkRepasse" />
                        <label asp-for="Repasse" class="form-check-label" for="checkRepasse"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="SatisfacaoMetadeProjeto" class="form-check-input" type="checkbox" id="checkSatisfacaoMetadeProjeto" />
                        <label asp-for="SatisfacaoMetadeProjeto" class="form-check-label" for="checkSatisfacaoMetadeProjeto"></label>
                    </div>
                    <div class="form-check">
                        <input asp-for="SatisfacaoFimProjeto" class="form-check-input" type="checkbox" id="checkSatisfacaoFimProjeto" />
                        <label asp-for="SatisfacaoFimProjeto" class="form-check-label" for="checkSatisfacaoFimProjeto"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Incluir" class="btn-submit btn app-btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
