@model IEnumerable<BaseDeProjetos.Models.Projeto>
@{


    int cd_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;
    int cd_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;
    int cd_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;

    int ei_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;
    int ei_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;
    int ei_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;

    int emb_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;
    int emb_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;
    int emb_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;

    int af_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;
    int af_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;
    int af_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;

    int ou_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.Indefinida).ToList().Count;
    int ou_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.Indefinida).ToList().Count;
    int ou_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.Indefinida).ToList().Count;

    int anp_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.ANP).ToList().Count;
    int anp_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.ANP).ToList().Count;
    int anp_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.ANP).ToList().Count;

    int par_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;
    int par_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;
    int par_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;

}
<div>
    <figure class="col-12 highcharts-figure">
        <div id="projetos"></div>
    </figure>
</div>


<script type="text/javascript">
    Highcharts.chart('projetos', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Projetos dos institutos'
        },
        xAxis: {
            categories: [
                'Contratação Direta',
                'Editais de inovação',
                'Embrapii',
                'Agências de Fomento',
                'ANP',
                'Parceiro',
                'A definir',
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'projetos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} projetos </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        series: [{
            name: 'CIS-HO',
            data: [@cd_HO, @ei_HO, @emb_HO, @af_HO, @anp_HO, @par_HO, @ou_HO]

        }, {
            name: 'ISI-II',
            data: [@cd_II, @ei_II, @emb_II, @af_II, @anp_II, @par_II, @ou_II]

        }, {
            name: 'ISI-QV',
            data: [@cd_QV, @ei_QV, @emb_QV, @af_QV, @anp_QV, @par_QV, @ou_QV]

        }]
    });
</script>
