@model IEnumerable<BaseDeProjetos.Models.IndicadoresFinanceiros>

@{
    ViewData["Title"] = "Indicadores";
}

<style>

    iframe {
        width: 100%;
        height: 700px;
    }
</style>

<h1>@ViewData["Title"]</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gráfico Power BI</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div>
            <iframe title="Indicador de Gestao" src=https://app.powerbi.com/view?r=eyJrIjoiNjYwMWQyZTctYTM4Ni00MDU2LWEyMmItNmMxNDg5ODM2MWMyIiwidCI6ImQwYzY5OGQ0LWU0ZWEtNGVlOS1hNzlkLWYyZDdhNzgzOTljOCJ9&pageName=ReportSection9e596cb1c4d92861bc23 frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>