@model BaseDeProjetos.Models.Empresa

@{ ViewData["Title"] = "Editar"; }

<h1>Editar</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label><span>   (Apenas números)</span>
                <input asp-for="CNPJ" id="valor_cnpj" class="form-control" maxlength="14" required/>
                <button onclick="validarCNPJ(lista_cjpn)" type="button">Buscar</button>
            </div>
            <hr />
            <h6 id="TipoEmpresaStatus">Tipo: </h6>
            <h6 id="SituacaoEmpresaStatus">Situação: </h6>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" id="NomeEmpresaCadastro" class="form-control" value="" disabled/>
            </div>
            <div>
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" id="EstadoEmpresaCadastro" class="form-control" value="DF" disabled/>
            </div>
            <hr/>
            <div class="form-group">
                <label asp-for="Segmento" class="control-label"></label>
                <select asp-for="Segmento" class="form-control" asp-items="Html.GetEnumSelectList<SegmentoEmpresa>().OrderBy(p=>p.Text)"></select>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input type="file" class="form-control" id="logo_imagem" onchange="Base64()"/>
                <input asp-for="Logo" id="logo_b64" class="control-label" value="" disabled>
            </div>
            <img id="logo_img_preview" src="" width="300">
            <hr />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }