.card-container {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-preview {
    background-color: #2a265f;
    color: #fff;
    width: 20%;
}

.card-preview a {
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.card-preview h2 {
    letter-spacing: 1px;
    text-align: center;
}

.card-info {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.content-left,
.content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-info {
    margin-top: 10px;
    margin-left: 5px;
}

#card-body,
#content {
    display: flex;
    flex-direction: row;
}

#content {
    flex-direction: column;
    width: 80%;
}

#box-btn-actions {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.btn-acao {
    width: 60px;
    font-size: 14px;
    padding: 0;
}

.empresa-preview {
    background-color: #fff;
    color: #2a265f;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.required::after {
    content: " *";
    color: red;
}
