@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Meus dados";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Essa conta contém seus respectivos dados pessoais, esta página permite que você baixe ou remova seus dados</p>
        <p>
            <strong>Remover esses dados irá remover sua conta permanentemente e isso não poderá ser desfeito</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Baixar dados</button> 
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Excluir</a>
        </form>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}