.tooltip-indicadores {
    position: relative;
}

    .tooltip-indicadores:before {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        margin-left: 15px;
        width: auto; /* Funcionou supreendentemente bem */
        padding: 10px;
        border-radius: 10px;
        background: black;
        opacity: 100%;
        text-align: center;
        display: none;
        z-index: 1;
        color: #fff;
    }

    .tooltip-indicadores:hover:before {
        display: block;
    }

.ribbon {
    width: 60px;
    height: 90px;
    position: absolute;
}

    .ribbon span {
        position: absolute;
        display: block;
        width: 80px;
        padding: 5px 0;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        font: 700 .7em sans-serif;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        text-transform: uppercase;
        text-align: center;
    }

/* top right*/
.ribbon-top-right {
    top: -1.0em;
    right: -1.5em;
}

    .ribbon-top-right span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg);
    }

.ribbon-red span {
    color: white;
    background-color: #aa0000;
}

.ribbon-blue span {
    color: white;
    background-color: #0088ff;
}

.ribbon-yellow span {
    color: black;
    background-color: #FFC90E;
}

.ribbon-green span {
    color: white;
    background-color: #22B14C;
}

.ribbon-green-yellow span {
    color: gold;
    background-color: #22B14C;
}

.ribbon-orange span {
    color: white;
    background-color: orangered;
}