/* Helper para detalhes específicos do site*/

#button-grouper {
    margin-top: 1em;
    display: flex;
    gap: .5em;
    flex-direction: column;    
}

@media (max-width: 600px) {
    #button-grouper {
        margin-top: .5em;
    }
}

.usuario-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    width: 12vw;
    min-width: 200px;
}

@media (max-width: 600px) {
    .usuario-card {
        width: 100%;
    }
}

.usuario-card-footer {
    margin-top: 1.8em;
    padding: 1em;
    border-top: .2em solid #e0e4ff;
    width: 100%
}

.usuario-card-titulacao {
    display: flex;
    justify-content: center;
}

.usuario-card-profile {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    margin-top: 1em
}

@media (max-width: 600px) {
    .usuario-card-profile {
        width: 5em;
        height: 5em;
    }
}

.usuario-card-holder {
    flex-wrap: wrap;
    display: flex;
    gap: 2em;
}

.usuario-card-button {
    border: none;
    align-self: end;
    background: none;
    position: absolute;
    color: gray;
}

.usuario-card-button:hover {
    border: none;
    align-self: end;
    background: none;
    position: absolute;
    color: black;
}