@page
@model RegisterModel
@{
    ViewData["Title"] = "E-mail não encontrado";
}

<h1>@ViewData["Title"]</h1>
<p>
    Não encontramos seu e-mail em nosso banco de dados.
    
    Deseja se cadastrar?<a asp-page="Register"> Clique aqui!</a>
</p>