@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
}

<style>
	.app {
		padding-top: 0px;
	}
</style>

<div class="row g-0 app-auth-wrapper">
	<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5 d-flex justify-content-center">
		<div class="d-flex flex-column align-content-end" style="margin-top:90px">
			<div class="app-auth-body mx-auto">
				<div class="app-auth-branding mb-4"><p class="app-logo"><img class="logo-icon me-2" style="width:90px; height:90px" src="~/favicon.png" alt="logo"></p></div>
				<h2 class="auth-heading text-center mb-4">@ViewData["Title"]</h2><hr/>

				<div class="auth-intro text-center">Não se preocupe. Se você esqueceu sua senha, basta informar o endereço de e-mail associado à sua conta, e enviaremos instruções de recuperação.</div><hr/>

						<div class="auth-form-container text-left">

						<form class="auth-form resetpass-form" method="post">
							<div asp-validation-summary="All" class="text-danger">
								<div class="email mb-3">
									<label asp-for="Input.Email" class="sr-only">Your Email</label>
								<input asp-for="Input.Email" id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="Digite seu Email" required="required" style="border:none;border-bottom: 1px solid #9D9D9D;border-radius: 0px;box-shadow: 0px 0.25px 0.5px 0px rgba(0, 0, 0, 0.25);">
								</div><!--//form-group-->
								<div class="text-center">
								<br /><button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto mt-3">Enviar</button>
								</div>
							</div>	
						</form>
					<div class="auth-option text-center pt-2"><a class="app-link" asp-page="./Login">Entrar</a> <span class="px-2">|</span> <a class="app-link" asp-page="./Register">Cadastro</a></div>
				</div><!--//auth-form-container-->
			</div><!--//auth-body-->

			<footer class="app-auth-footer text-muted">
				<div class="container">
					<small>© 2023 - SGI-GGI - <a href="/Home/Privacy">Privacidade</a></small>
				</div>
			</footer><!--//app-auth-footer-->
		</div><!--//flex-column-->
	</div><!--//auth-main-col-->
	<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
		<div class="auth-background-holder">
			<img src="~/register-photo-test.jpg" style="height:100vh; object-fit:cover" alt="background-register-photo">
		</div>
		<div class="auth-background-mask"></div>
		<div class="auth-background-overlay p-3 p-lg-5">
			<div class="d-flex flex-column align-content-end h-100">
				<div class="h-100"></div>
				<div class="overlay-content p-3 p-lg-4 rounded">
					<h5 class="mb-3 overlay-title">Instituto SENAI Inovação Química</h5>
					<div>Priorizamos a segurança dos nossos usuários em todas as etapas. Nosso processo de recuperação de senha é projetado para garantir a proteção total dos seus dados, proporcionando uma experiência confiável e tranquila. Conte conosco para manter seus dados seguros.</div>
				</div>
			</div>
		</div><!--//auth-background-overlay-->
	</div><!--//auth-background-col-->

</div><!--//row-->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}