@page
@model ForgotPasswordConfirmation
@{
    ViewData["Mensagem"] = "Confirme se recebeu um e-mail de recuperação de senha";
    ViewData["Title"] = "Recuperação de senha";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>
        @ViewData["Mensagem"]
    </p>
</div>