@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    #between{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .btn-empresa {
        background-color: #0d6efd;
        border: none;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 5px;
        width: 80px;
    }

    .efeito-hover:hover{
        background-color: gray;
        transition: 500ms ease-in-out;
        border-radius: 10px;
        outline: none;
        border: none;
    }
</style>

<div class="row mt-5">
    <div class="card col-md-4 m-auto">
        <section class="card-body">
            <form id="account" method="post">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group mt-3" id="between">
                    <a asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Esqueceu a senha?</a>
                    <button type="submit" class="btn-empresa efeito-hover">Login</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}