@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de conta";
}

<div class="container">
    @if (Model.DisplayConfirmAccountLink)
    {
        <div class="text-center">
            <h2>Confirme a sua conta!</h2>
            <div class="alert alert-warning" role="alert">
                <p>Estamos trabalhando no nosso serviço de email.</p>
                <div>Enquanto isso, clique abaixo para confirmar o registro da sua conta.</div>
            </div>
            <p>Clique <a id="confirm-link" href="@Model.EmailConfirmationUrl">aqui</a> para confirmar o seu registro</p>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>Por favor, verifique a sua caixa de email para confirmar a sua conta.</p>
        </div>
    }
</div>
